<div class="pure-g">
  <div class="pure-u-1-4"></div>
  <div class="content pure-u-3-4">
    <div class="image-container">
      <div class="image">
        <img src="//style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="no photo available" class="w100px" />
        {{link-to "Return to students" "students.index" classNames="link-tos"}}
      </div>
    </div>
    <div class="data">
      <h2 class="form-header">{{model.fullName}}</h2>
      {{partial "students/form"}}
    </div>
  </div>
</div>
